html, body {
	font-family: Montserrat,sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: table;
}

a {
	font-weight: 700;
	color: inherit;
}

.active
,.inertial
,.inactive {
	font-weight: 700;
}
.active {
	color: #1AB742;
}
.inertial {
	color: #E8305D;
}
.inactive {
	color: gray;
}
.indicator {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	display: inline-block;
}

.content {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content > p, .content > h3 {
	margin-left: 20%;
	margin-right: 20%;
}